<!DOCTYPE html>
<html>
    <head>
        <title>Tutorial</title>
    </head>

    <body>
        <h1>Image Classifier</h1>
       
        <form action="http://localhost:5000/" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <input type="submit" value="Upload">
        </form>

         <!-- <form action="/", method="post", enctype="multipart/form-data">
            <input type="file" name="imagefile">
            <input type="submit" value="Predict Image">
        </form> -->

        <!-- <img src="{{ input_image }}">
        <h1>this image contains <b>"{{ result }}"</b></h1> -->
        <!-- <h1>Predictions</h1>
        <p>{{ predictions }}</p> -->
        
    </body>

</html>